.container {
  position: relative;
  padding: 2rem;
  --border-size: 32px;
}

.corner {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: var(--border-size);
  min-height: var(--border-size);
}

.upper {
  top: 0;
}

.lower {
  bottom: 0;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.upper.right {
  transform: scaleX(-1);
}

.lower.left {
  transform: scaleY(-1);
}

.lower.right {
  transform: scale(-1, -1);
}

.edge {
  position: absolute;
  min-height: var(--border-size);
  min-width: var(--border-size);
  background-size: contain;
}

.upper.edge,
.lower.edge {
  background-repeat: repeat-x;
  left: var(--border-size);
  right: var(--border-size);
  width: auto;
}

.lower.edge {
  transform: scaleY(-1);
}

.left.edge,
.right.edge {
  background-repeat: repeat-y;
  top: var(--border-size);
  bottom: var(--border-size);
  height: auto;
}

.right.edge {
  transform: scaleX(-1);
}
