.custom-creature {
  display: grid;
  gap: 0.5rem;
}

.wrapper {
  display: grid;
  position: relative;
}

.add-to-list-buttons {
  padding-top: 1rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.button {
  display: grid;
  position: relative;
  place-items: center;
}

.overlay-text {
  position: absolute;
  width: 70%;
  text-align: center;
  cursor: default;
}

.button {
  transition: all 0.19s ease;
}

.button:hover {
  transform: scale(1.1);
}

.button.left-shield {
  transform-origin: right;

}

.button.right-shield {
  transform-origin: left;
}
