/* * {
  border: 1px solid red;
  margin: 1px;
} */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
}
.left {
  /* min-width: 23rem;
  max-height: 98dvh;
  overflow: auto; */
}
.right {
  /* display: flex;
  flex-direction: column;
  gap: 1rem; */
  /* display: grid; */
  /* gap: 1rem; */
  /* width: 100%; */
}
