.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(4, 25%); */
  grid-template-rows: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 25%); */
  max-height: 100vh;
  gap: 1rem;
  padding: 1rem;

}

.difficulty {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.mobs-selector {
  grid-row: 1 / 5;
  grid-column: 1;
}

.mobs-list {
  grid-column: 2;
  grid-row: 2 / span 3;
}

.custom-creature {
  grid-column: 3;
  grid-row: 2 / span 2;
}

.party {
  grid-column: 4;
  grid-row: 1 / span 3;
}